html {
  background-color: #000;
}
.main {
  text-align: center;
  }
  h1, h2, p {
    font-family: Verdana, sans-serif;
    color: #fff;
  }
p {
  color: #777;
  font-size: 18px;
}
.footer {
  text-align: right;
  font-size: 30px;
}
